<p>ADMIN PAGE</p>
<form method="post">
    {% csrf_token %}
    <output name="error_message" id="error_message">{{error_message}}</output>
    <p><a href="/test_me/posts/not_approved">NOT APPROVED POSTS</a></p>
    <p><a href="/test_me/posts/all">ALL POSTS</a></p>
    <p><a href="/test_me/categories">CATEGORIES</a></p>
    <p><a href="/test_me/make_category">MAKE CATEGORY</a></p>
    <p><a href="/test_me/moderate_users">USERS</a></p>
</form>
