<p>ALL CATEGORIES PAGE</p>
<form method="post">
    {% csrf_token %}
    <output name="error_message" id="error_message">{{error_message}}</output>
    <p>YOUR STATUS : {{ user_status }}</p>
    {% if user_status == "admin" %}
        <p><a href="/test_me/make_category">MAKE CATEGORY</a></p>
    {% endif %}
    <p><a href="/test_me/posts/all">ALL POSTS</a></p>
    {% for category in all_categories %}
        <p>''''''''''''''''''''''''''''''''''''''''''''''</p>
        <p>{{ category.name }}</p>
        <p>{{ category.annotation }}</p>
        <p><a href="/test_me/posts/{{ category.name }}">READ THIS</a></p>
    {% endfor %}
</form>
