<script type="text/javascript" src="https://storage.googleapis.com/google-code-archive-downloads/v2/code.google.com/jqueryjs/jquery-1.3.2.js"></script>
<p>MAKE POST PAGE</p>

<form method="post">
    {% csrf_token %}
    <p>Current post status : {{ new_post.status }}</p>
    <p>{{ form.header.label }} :</p>
    <p><input type="text" name="{{ form.header.name }}" id="{{ form.header.name }}" value="{{ new_post.header }}"</p>
    <p>{{ form.subheader.label }} :</p>
    <p><input type="text" name="{{ form.subheader.name }}" id="{{ form.subheader.name }}" value="{{ new_post.subheader }}"</p>
    <p>{{ form.body.label }} :</p>
    <p><input type="text" name="{{ form.body.name }}" id="{{ form.body.name }}" value="{{ new_post.body }}"</p>
</form>

<form method="post" name="category" id="category">
    <p><select size="1" name="category" id="category">
    <option selected disabled value="0">Choose post category</option>
    {% for category in categories %}
        <option value="{{ category.name }}" id="{{ category.name }}">{{ category.name }}</option>
    {% endfor %}
    </select></p>
</form>

<form  action="{{ upload_link }}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        {% for picture in pictures %}
        <p><img src="{{ picture.0.url }}" width="100" height="100"/></p>
        <p><button type="button" onclick="deletePicture('{{ picture.1 }}');">Delete picture</button></p>
    {% endfor %}
    <p>{{ upload_form.non_field_errors }}</p>
    <p>{{ upload_form.picture.label_tag }} {{ upload_form.picture.help_text }}</p>
    <p>{{ upload_form.picture }}</p>
    <p><input type="submit" value="Upload" /></p>
</form>

<form method="post">
    <button type="button" onclick="makePost();">Make post</button>
    <output name="error_message" id="error_message">{{error_message}}</output>
    <p><a href="/test_me/posts/all">ALL POSTS</a></p>
    <p><a href="/test_me/categories">CATEGORIES</a></p>
</form>

<script>
    var deletePicture = function(picture_pk) {
        console.log(picture_pk);
        var data = { 
            picture_pk:picture_pk,
            command : 'delete_picture',
        };
        $.ajax
        ({
            type     : "POST",
            url      : '{{ post.pk }}',
            data     : data,
            success  : function(response)
            {
                if(response) {
                    var redirect_url = JSON.parse(response).redirect_url;
                    var error_message = JSON.parse(response).error_message;
                    console.log('in send: ' + redirect_url + ' ' + error_message);
                    if (redirect_url)
                            location.href = redirect_url;
                    if (error_message)
                            $('#error_message').html(error_message.replace("']", "").replace("['", "").replace("[]", ""));
                }
                else
                    console.log('in send:pass((');
            }
        });
    };


    var makePost = function() {
        var header = $("#header").val()
        var subheader = $("#subheader").val()
        var body = $("#body").val()

        var form = document.forms.category;
        var select = form.elements.category;
        for (var i = 0; i < select.options.length; i++) {
            var option = select.options[i];
            if (option.selected) {
                var category = option.value;
            };
        }

        var data = { 
            header:header,
            subheader:subheader,
            category:category,
            body:body,
            command : 'make_post',
        };
        $.ajax
        ({
            type     : "POST",
            url      : '{{ post.pk }}',
            data     : data,
            success  : function(response)
            {
                if(response) {
                    var redirect_url = JSON.parse(response).redirect_url;
                    var error_message = JSON.parse(response).error_message;
                    console.log('in send: ' + redirect_url + ' ' + error_message);
                    if (redirect_url)
                            location.href = redirect_url;
                    if (error_message)
                            $('#error_message').html(error_message.replace("']", "").replace("['", "").replace("[]", ""));
                }
                else
                    console.log('in send:pass((');
            }
        });
    };

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
</script>
