<script type="text/javascript" src="https://storage.googleapis.com/google-code-archive-downloads/v2/code.google.com/jqueryjs/jquery-1.3.2.js"></script>
<p>ADMIN PAGE</p>
{% csrf_token %}
<form method="post" name="users" id="users">
{% for user in users %}
        <p>{{ user.name }}</p>
        <p>{{ user.status }}</p>
        <select size="1" name="status_{{ user.pk }}" id="status_{{ user.pk }}">
            <option selected disabled value="{{ user.status }}" id="{{ user.status }}">{{ user.status }}</option>
            <option value="banned" id="banned">banned</option>
            <option value="user" id="user">user</option>
            <option value="admin" id="admin">admin</option>
        </select>
        <p><button type="button" onclick="confirm('{{ user.pk }}');">Confirm</button></p>
{% endfor %}
</form>
<p><output name="error_message" id="error_message">{{error_message}}</output></p>
<script>
    var confirm = function(pk) {
        var select = document.getElementById("status_" + pk);
        var new_status = select.options[select.selectedIndex].text;

        var data = { 
            user_pk:pk,
            new_status:new_status,
        };
        $.ajax
        ({
            type     : "POST",
            url      : "moderate_users",
            data     : data,
            success  : function(response)
            {
                if(response) {
                    var redirect_url = JSON.parse(response).redirect_url;
                    var error_message = JSON.parse(response).error_message;
                    console.log('in send: ' + redirect_url + ' ' + error_message);
                    if (redirect_url)
                            location.href = redirect_url;
                    if (error_message)
                            $('#error_message').html(error_message.replace("']", "").replace("['", "").replace("[]", ""));
                }
                else
                    console.log('in send:pass((');
            }
        });
    };

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
</script>
