<p>ALL POSTS PAGE</p>
<form method="post">
    {% csrf_token %}
    <output name="error_message" id="error_message">{{error_message}}</output>
    <p>YOUR STATUS : {{ user_status }}</p>
    <p>YOUR CATEGORY : {{ category }}</p>
    {% if user_status == "admin" %}
        <p><a href="/test_me/admin">MAKE ADMIN THINGS</a></p>
    {% endif %}
    {% if user_status != "guest" %}
        <p><a href="/test_me/make_post/0/0">MAKE POST</a></p>
        <p><a href="/test_me/posts/my_favorites">MY FAVORITES</a></p>
    {% endif %}
    <p><a href="/test_me/categories">CATEGORIES</a></p>
    <p><a href="/test_me/posts/all">ALL POSTS</a></p>
    <p><a href="/test_me/logout">Logout</a></p>
    {% for post in posts %}
        <p>''''''''''''''''''''''''''''''''''''''''''''''</p>
        <p>{{ post.0.header }}</p>
        <p>{{ post.0.subheader }}</p>
        {% if post.1 != "empty" %}
            <p><img src="{{ post.1.url }}" width="200" height="200"/></p>
        {% endif %}
        <p><a href="/test_me/read_post/{{ post.0.pk }}">READ THIS</a></p>
    {% endfor %}
</form>
