<script type="text/javascript" src="https://storage.googleapis.com/google-code-archive-downloads/v2/code.google.com/jqueryjs/jquery-1.3.2.js"></script>
<p>READ POST PAGE</p>
<form method="post">
    {% csrf_token %}
    <p>{{ post.header }}</p>
    <p>{{ post.subheader }}</p>
    <p>{{ post.body }}</p>
    
    {% for picture in pictures %}
        <p><img src="{{ picture.url }}"/></p>
    {% endfor %}
    <p>POST STATUS : {{ post.status }}</p>
    <p>POST PK : {{ post.pk }}</p>
    <p>YOUR STATUS : {{ user_status }}</p>
    
    <p><output name="error_message" id="error_message">{{error_message}}</output></p>
    {% if user_status != "guest" %}
        <p><button type="button" onclick="addToFavorite();">Add to favorite</button></p>
        <p><button type="button" onclick="deleteFromFavorite();">Delete from favorite</button></p>
    {% endif %}
    {% if user_status == "admin" or user_status == "author" %}
        <p><button type="button" onclick="editPost();">Edit</button></p>
        <p><button type="button" onclick="deletePost();">Delete</button></p>
    {% endif %}
    {% if user_status == "admin" %}
        <p><button type="button" onclick="approvePost();">Approve</button></p>
    {% endif %}
    <p><a href="/test_me/posts/all">ALL POSTS</a></p>
</form>
<script>
    var deleteFromFavorite = function() {
        var pk = '{{ post.pk }}';
        var data = { post_pk : pk, command : 'delete_from_favorite' };

        $.ajax
        ({
            type     : "POST",
            url      : "read_post",
            data     : data,
            success  : function(response)
            {
            if(response) {
                    var redirect_url = JSON.parse(response).redirect_url;
                    var error_message = JSON.parse(response).error_message;
                    console.log('in send: ' + redirect_url + ' ' + error_message);
                    if (redirect_url)
                            location.href = redirect_url
                        if (error_message)
                            $('#error_message').html(error_message.replace("']", "").replace("['", "").replace("[]", ""));
                }
                else
                    console.log('in send:pass((');
            }
        });
    };

    var approvePost = function() {
        var pk = '{{ post.pk }}';
        var data = { post_pk : pk, command : 'approve_post' };

        $.ajax
        ({
            type     : "POST",
            url      : "read_post",
            data     : data,
            success  : function(response)
            {
            if(response) {
                    var redirect_url = JSON.parse(response).redirect_url;
                    var error_message = JSON.parse(response).error_message;
                    console.log('in send: ' + redirect_url + ' ' + error_message);
                    if (redirect_url)
                            location.href = redirect_url
                        if (error_message)
                            $('#error_message').html(error_message.replace("']", "").replace("['", "").replace("[]", ""));
                }
                else
                    console.log('in send:pass((');
            }
        });
    };


    var editPost = function() {
        var pk = '{{ post.pk }}';
        var data = { post_pk : pk, command : 'edit_post' };
        $.ajax
        ({
            type     : "POST",
            url      : "read_post",
            data     : data,
            success  : function(response)
            {
            if(response) {
                    var redirect_url = JSON.parse(response).redirect_url;
                    var error_message = JSON.parse(response).error_message;
                    console.log('in send: ' + redirect_url + ' ' + error_message);
                    if (redirect_url)
                            location.href = redirect_url
                        if (error_message)
                            $('#error_message').html(error_message.replace("']", "").replace("['", "").replace("[]", ""));
                }
                else
                    console.log('in send:pass((');
            }
        });
    };

    var deletePost = function() {
        var pk = '{{ post.pk }}';
        var data = { post_pk : pk, command : 'delete_post' };

        $.ajax
        ({
            type     : "POST",
            url      : "read_post",
            data     : data,
            success  : function(response)
            {
            if(response) {
                    var redirect_url = JSON.parse(response).redirect_url;
                    var error_message = JSON.parse(response).error_message;
                    console.log('in send: ' + redirect_url + ' ' + error_message);
                    if (redirect_url)
                            location.href = redirect_url
                        if (error_message)
                            $('#error_message').html(error_message.replace("']", "").replace("['", "").replace("[]", ""));
                }
                else
                    console.log('in send:pass((');
            }
        });
    };

    var addToFavorite = function() {
        var pk = '{{ post.pk }}';
        var data = { pk : pk, command : 'add_to_favorite' };
        $.ajax
        ({
            type     : "POST",
            url      : "read_post",
            data     : data,
            success  : function(response)
            {
            if(response) {
                    var redirect_url = JSON.parse(response).redirect_url;
                    var error_message = JSON.parse(response).error_message;
                    console.log('in send: ' + redirect_url + ' ' + error_message);
                    if (redirect_url)
                            location.href = redirect_url
                        if (error_message)
                            $('#error_message').html(error_message.replace("']", "").replace("['", "").replace("[]", ""));
                }
                else
                    console.log('in send:pass((');
            }
        });
    };

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
</script>
