<p>REGISTER PAGE</p>
<script type="text/javascript" src="https://storage.googleapis.com/google-code-archive-downloads/v2/code.google.com/jqueryjs/jquery-1.3.2.js"></script>
<form method="post">
    {% csrf_token %}
    {% for value in form %}
        <p>{{ value.label }} :</p>
        <p><input type="text" name="{{ value.name }}" id="{{ value.name }}"></p>
    {% endfor %}
</form>
<form method="post" name="country" id="country">
    <p><select size="1" name="country" id="country" onchange="chooseCountry();">
    <option selected disabled value="0">Choose your country</option>
    {% for country in countries %}
            <option value="{{ country }}" id="{{ country }}">{{ country.name }}</option>
    {% endfor %}
    </select></p>
</form>
<form method="post" name="city_form" id="city_form">
</form>
<form method="post">
    <button type="button" onclick="send();">Register</button>
    <p><a href="/test_me/login">LOGIN</a></p>
    <output name="error_message" id="error_message">{{error_message}}</output>
</form>

<script>
    var createCitySelect = function(cities) {
        var myDiv = document.getElementById("city_form");
        var array = cities.split(",");
        var selectList = document.createElement("select");
        selectList.id = "city";
        if(myDiv.length != 0) {
            myDiv.removeChild(document.getElementById("city"));
        }
        myDiv.appendChild(selectList);

        for (var i = 0; i < array.length; i++) {
            var option = document.createElement("option");
            option.value = array[i];
            option.text = array[i];
            selectList.appendChild(option);
        }
    };

    var chooseCountry = function() {
        var form = document.forms.country;
        var select = form.elements.country;

        for (var i = 0; i < select.options.length; i++) {
            var option = select.options[i];
            if (option.selected) {
                var data = option.value.split("',");
                for (var i = 0; i < data.length; i++) {
                    if (data[i].indexOf("cities") > -1) {
                        cities = data[i].split(':')[1].replace(new RegExp("'","g"),"").replace(new RegExp("}","g"),"").replace(new RegExp(" ","g"),"");
                        createCitySelect(cities)
                    }
                }
            };
        }
    };

    var send = function() {
        var name = $("#name").val()
        var email = $("#email").val()
        var password = $("#password").val()
        var city = $("#city").val()

        var form = document.forms.country;
        var select = form.elements.country;
        for (var i = 0; i < select.options.length; i++) {
            var option = select.options[i];
            if (option.selected) {
                var data = option.value.split("',");
                for (var i = 0; i < data.length; i++) {
                    if (data[i].indexOf("name") > -1) {
                        var country = data[i].split(':')[1].replace(new RegExp("'","g"),"").replace(new RegExp("}","g"),"").replace(new RegExp(" ","g"),"");
                    }
                }
            };
        }

        var data = { name:name, email:email, password:password, country:country, city:city};
        $.ajax
        ({
            type     : "POST",
            url      : "registration",
            data     : data,
            success  : function(response)
            {
                if(response) {
                    var redirect_url = JSON.parse(response).redirect_url;
                    var error_message = JSON.parse(response).error_message;
                    console.log('in send: ' + redirect_url + ' ' + error_message);
                    if (redirect_url)
                            location.href = redirect_url;
                        if (error_message)
                            $('#error_message').html(error_message.replace("']", "").replace("['", "").replace("[]", ""));
                }
                else
                    console.log('in send:pass((');
            }
        });
    };

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
</script>
